* {
  margin: 0;
  padding: 0;
  font-family: 'Open Sans', sans-serif;
}
::-webkit-input-placeholder { /* WebKit browsers */
    color:    #d99199;
}
:-moz-placeholder { /* Mozilla Firefox 4 to 18 */
    color:    #d99199;
}
::-moz-placeholder { /* Mozilla Firefox 19+ */
    color:    #d99199;
}
:-ms-input-placeholder { /* Internet Explorer 10+ */
    color:    #d99199;
}
.top {
  background: #e5717d;
  position: fixed;
  width: 100%;
  left: 0;
  top: 0;
  padding-bottom: 10px;
}
.logo {
  margin: 10px;
}
.topcenter {
  text-align: left;
  margin: 0 auto;
  max-width: 600px;
}
.cl {
  clear: both;
}

input:focus {
  outline: none;
}
.container {
  max-width: 600px;
  margin: 0 auto;
  clear: both;
  padding-top: 180px;
}
.container img {
  max-width: 100%;
}

.myli {
  background: #E1E1E2;
}
.numberusers {
  font-size: 12px;
  color: #fff;
  float: right;
}
input[type="text"] {
  width: 100%;
  padding: 10px;
  font-size: 16px;
  background: #c9636e;
  color: #fff;
  border:1px solid #e8828d;
}
.option {
  float: right;
  font-size: 14px;
  color: #fff;
  display: none;
}
.option input {
  margin-left: 5px;
}
.cont {
  float: left;
  font-size: 12px;
  color: #fff;
  margin-left: 5px;
}
.config {
  float: right;
  cursor: pointer;
  margin-top: -25px;
}
.mensagem {
  width: 570px;
}

ul {
  padding: 0;
}

.mensagens-enviadas {
  overflow: auto;
}

li {
  background-color: #edeff4;
  margin-top: 1px;
  padding: 4px;
  word-wrap: break-word;
  list-style-type: none;
  text-align: left;
}

@media only screen and (max-width: 479px) {
  .option {
    width: 100;
    margin-top: -95px;
  }
}